In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from env import username, password, hostname

In [2]:
# url = f'mysql+pymysql://{username}:{password}@{hostname}/curriculum_logs'
# query = """select * from logs join cohorts on logs.cohort_id = cohorts.id;"""
# df = pd.read_sql(query, url)
# df.drop("id", axis=1, inplace=True)
# df.to_csv("curriculum_logs.csv", index=False)
# df.head()

In [21]:
df = pd.read_csv("curriculum_logs.csv")
df.head(2)

,date,time,path,user_id,cohort_id,ip,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1

In [22]:
df["program_name"] = np.where(df["program_id"] == 3, "data science", "web dev")
df.head(2)

,date,time,path,user_id,cohort_id,ip,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,program_name
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,web dev
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,web dev

In [23]:
df["date_time"] = pd.to_datetime(df['date'] + " " + df['time'])
df.head(2)

,date,time,path,user_id,cohort_id,ip,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,program_name,date_time
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,web dev,2018-01-26 09:55:03
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,web dev,2018-01-26 09:56:02

In [24]:
df1 = df.set_index(df["date_time"]).drop(["date", "time", "date_time"], axis=1)
df1.head(2)

,path,user_id,cohort_id,ip,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,program_name
date_time,,,,,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,web dev
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,web dev

1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?

7. Which lessons are least accessed?
- These are the top 50 least accessed topics, but this can be adjusted based on needs
### DONE

In [42]:
df["path"].value_counts(ascending=True).nsmallest(n=50, keep="first").to_dict()

{'appendix/professional-development/post-interview-review-form': 1,
 'cli-03-file-paths': 1,
 'cli-07-more-topics': 1,
 'spring/services': 1,
 '8-timeseries/1-overview': 1,
 '8-timeseries/2-intro-to-timeseries': 1,
 '8-timeseries/3-acquire': 1,
 '8-timeseries/4-prep': 1,
 '8-timeseries/6.1-parametric-modeling': 1,
 '8-timeseries/6.2-prophet': 1,
 '10-nlp/2-regular-expressions': 1,
 '10-nlp/exercises': 1,
 '10-nlp/3-acquire': 1,
 '11-distributed-ml/3-getting-started': 1,
 '11-distributed-ml/4-acquire': 1,
 '11-distributed-ml/6.1-prepare-part-1': 1,
 '11-distributed-ml/6.2-prepare-part-2': 1,
 '11-distributed-ml/6.3-prepare-part-3': 1,
 'content/html-css/search_index.json': 1,
 '11-distributed-ml/6.4-prepare-part-4': 1,
 '11-distributed-ml/8.1-classification': 1,
 '11-distributed-ml/exercises': 1,
 'uploads/598dc43df39e2.jpg': 1,
 'register.': 1,
 'appendix/extra-exercises': 1,
 'appendix/extra-exercises/javascript': 1,
 '2-stats/4.8-feature-scaling': 1,
 'appendix/further-reading/mysql': 1,
 '2-stats/2.4-more-excel-features': 1,
 '9-anomaly-detection/time-series-anomaly-detection-part-1': 1,
 'cli-02-listing-files': 1,
 '7-clustering/dbscan': 1,
 'objects/math': 1,
 'slides/coding_best_practices': 1,
 'content/examples/php/Input.php': 1,
 'content/examples/constructors-destructors.html': 1,
 'ada-python-assessment.html': 1,
 'appendix/capstone-workbook/sw-planning.md': 1,
 '10_Appendix_EntityLabeling': 1,
 '11.01.03_Summarize.md': 1,
 '11.02_TransformData.md': 1,
 'team-setups': 1,
 'cheatsheet.tex': 1,
 'logouts': 1,
 'python': 1,
 'students/743/notes': 1,
 'students/743/notes/0': 1,
 'students/743/notes/1': 1,
 'src': 1,
 'help': 1}